# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Other
*.log

# Keep parquet dataset but exclude other large data
!data/Store_Sales_Price_Elasticity_Promotions_Data.parquet
