**/.DS_Store

evaluation/csv_queries

**/.vscode
**/__pycache__/

shared.txt
out/
cpp_evaluator/out/
build/
cplusplus/

cpp_evaluator/build/
apache-jmeter-5.6.3/
spice_cache/
SPICE-1.0/

loop.py
CMakePresets.json

ninja